@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

:root {
    --btnBg: royalblue;
    --btnColor: #fff;
    --paddingBlock: 20px
}

.app {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
}

.letter {
    color: royalblue;
    font-weight: 700;
    margin: 0 0 1em;
}

.btn {
    margin: 0 5px;
    font-size: 16px;
    padding: 1em 2em;
    background: var(--btnBg);
    border: 2px solid var(--btnBg);
    color: var(--btnColor);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease;
    &:hover {
        background-color: transparent;
        color: #000;
    }

    &:disabled {
        opacity: 0.5;
        user-select: none;
        background-color: var(--btnBg);
        color: var(--btnColor);
        cursor: no-drop;
    }
}

h2 {
    margin: 0 0 1em;
    font-size: 30px;
}

.settings {
    margin: 20px 0;
    text-align: left;
    font-size: 16px;
    padding: var(--paddingBlock);
    border: 1px solid royalblue;
    border-radius: 10px;

    label {
        display: block;
        margin: 20px 0;
    }
}

.past-letters {
    text-align: left;
    margin: 20px 0;
    padding: var(--paddingBlock);
    border: 1px solid royalblue;
    border-radius: 10px;
}